[user]
	name = g17
	email = g17@rice-dot

[init]
	defaultBranch = main

[core]
	editor = nvim
	autocrlf = input

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	cm = commit -m
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
	last = log -1 HEAD

[color]
	ui = auto
